body {
    background-color: #EDEDED;
    font-family: Helvetica Neue, Arial, Lucida Grande, sans-serif;
    color: #090f0f;
}
#arrow{
	position: absolute;
	top: 250px;
	left: 1100px;
	height: 20px;
	width: 30px;
}
body>img {
    position: relative;
    margin-top: 5px;
    padding-top: 0px;
    width: 100%;
}

#logo {
    position: relative;
    height: 40px;
    width: 140px;
    left: 30px;
    top: 10px;
}

#hotelImage {
    position: absolute;
    border-radius: 8px;
    height: 80px;
    top: 235px;
}

#box {
    position: absolute;
    height: 320px;
    width: 265px;
    z-index: -1;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 8px;
}

#listHotels {
    position: relative;
    bottom: 530px;
    left: 72px;
    height: 115px;
    width: 1100px;
    z-index: 1;
}

#starLogo {
    position: relative;
    height: 20px;
    width: 20px;
    bottom: 20px;
    left: 220px;
}

#hotelStarRating {
    position: relative;
    left: 70px;
    bottom: 55px;
}

#percentSavings {
    position: relative;
    left: 80px;
    bottom: 60px;
}

#cityCountry {
    position: absolute;
    top: 105px;
}

p {
    text-align: center;
    max-width: 260px;
}

#crossOutPriceValue {
    text-decoration: line-through;
    color: #B33A3A;
    font-weight: bold;
    position: relative;
    bottom: 20px;
}

#averagePriceValue {
    color: #458B00;
    font-weight: bold;
    position: relative;
    bottom: 10px;
}

#smallLine1 {
    max-width: 200px;
    position: relative;
    top: 25px;
}

#smallLine2 {
    position: relative;
    max-width: 200px;
    bottom: 70px;
}

#hotelStreetAddress {
    position: relative;
    bottom: 30px;
}